%p#notice= notice

%body
  %h2(align="center")= @article.title


  #file(align="center")
    - if @article.article_attachment.content_type 
      - @type = @article.article_attachment.content_type
      - @data=@article.article_attachment.url
      %object(width="800" height="500" type=@type data=@data  )
        %p The file can't be displayed 


  = link_to 'Back', articles_path, class: 'btn btn-primary', style: 'color: #fff' 
