-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %button.btn.btn-default.btn-lg(type="button")
        %span.glyphicon.glyphicon-book Minischolar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.navbar-brand
        %li= link_to 'Home', root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'
